.App {
  text-align: center;
}

.App .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.App .nav-bar a {
  color: blue;
  text-decoration: none;
}

.complete-todo {
  color: green;
}

.incomplete-todo {
  color: red;
}